* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.posts {
  /* max-width: 50rem; */
  max-height: 20rem;
  overflow-y: scroll;
}

.postField {
  text-decoration: underline;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

.getPost {
  margin-top: 5px;
  display: flex;
}

.postIdText {
  font-weight: bold;
}

.credits {
  text-align: right;
}

.postIdText input {
  padding: 0 1px !important;
  height: 2rem;
  width: fit-content;
  max-width: 3rem;
}

.content {
  margin-left: 201px;
}

.pcEditor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pcEditor button {
  margin-left: 1em;
}

.pcContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.singleSearchbar {
  padding: 15px;
}

.searchButton {
  margin-left: 5px !important;
}

.myButton svg {
  height: 3em;
}

.deleteButton {
  position: absolute;
}

.deleteButton svg {
  height: 2em;
}

.loading {
  display: flex;
  justify-content: center;
}

.postCard {
  position: relative;
  width: 16rem;
  height: 16rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  background-color: rgb(232, 239, 241);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1rem;
}

.postCard:hover {
  outline: 1px solid orange;
}

.commentsCard {
  width: 16rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  background-color: rgb(232, 239, 241);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  overflow-y: auto;
  padding: 1rem;
}

.commentFieldName {
  font-weight: bold;
}

.commentField {
  font-weight: normal;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation-name: modalOpen;
  animation-duration: 0.5s;
}

.modalTitle,
.modalBody {
  margin: 10px 0 !important;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (max-width: 550px) {
  .sidebar {
    width: 120px;
  }

  .content {
    margin-left: 121px;
  }

  .postCard {
    width: 12rem;
    height: 12rem;
  }

  .pcEditor {
    flex-direction: column;
  }
}

@media all and (max-width: 364px) {
  .postCard {
    width: 8rem;
    height: 18rem;
  }
}

@media all and (max-width: 440px) {
  .myButton svg {
    height: 1.5em;
  }

  @media all and (max-width: 293px) {
    .postCard {
      width: 7em;
    }
  }
}
