* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.content {
  margin: 20px 0 0 100px;
  z-index: 2;
  position: relative;
}

hr {
  width: 100%;
  border-width: 0;
  background-color: black;
}

.title {
  margin-bottom: 20px;
}

.wrapper {
  height: 100%;
  position: relative;
}

.posts {
  max-height: 20rem;
  overflow-y: scroll;
}

.postField {
  text-decoration: underline;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

.getPost {
  margin-top: 5px;
  display: flex;
}

.postIdText {
  font-weight: bold;
}

.credits {
  text-align: right;
  margin-left: auto;
}

.postIdText input {
  padding: 0 1px !important;
  height: 2rem;
  width: fit-content;
  max-width: 3rem;
}

.pcEditor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pcEditor button {
  margin-left: 1em;
}

.pcContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.singleSearchbar {
  padding: 15px;
}

.searchButton {
  margin-left: 5px !important;
}

.myButton svg {
  height: 3em;
  transform: scale(0.5);
}

.deleteButton {
  position: absolute;
}

.deleteButton svg {
  height: 2em;
}

.loading {
  display: flex;
  justify-content: center;
}

.postCard {
  position: relative;
  width: 16rem;
  height: 16rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  background-color: rgb(232, 239, 241);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1rem;
}

.postCard p {
  border-bottom: 1px solid black;
}

.commentsCard {
  width: 16rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  background-color: rgb(232, 239, 241);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  overflow-y: auto;
  padding: 1rem;
}

.commentFieldName {
  font-weight: bold;
}

.commentField {
  font-weight: normal;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.yesNo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yesNo button {
  margin: 0 6px 10px 6px;
}

.choiceWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  color: red;
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation-name: modalOpen;
  animation-duration: 0.5s;
}

.modalTitle,
.modalBody {
  margin: 10px 0 !important;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ++++++++++++++++++++++ Dashboard sidebar ++++++++++++++++++++++ */

.dashSidebar {
  position: fixed;
  opacity: 1;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  height: 100%;
  left: 0;
  background: white;
  width: 90px;
  overflow: hidden;
  transition: width 0.3s, z-index 0.1s ease-out;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.logo {
  text-align: center;
  display: flex;
  /* transition: all 0.5s ease; */
  margin: 10px 0 0 10px;
}
.logo img {
  width: 45px;
  height: 45px;
}
.logo span {
  font-weight: bold;
  padding-left: 15px;
  padding: 15px;
  font-size: 1rem;
  text-transform: uppercase;
}
a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 1rem;
  display: table;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}
.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover {
  background: #eee;
}
.dashSidebar:hover {
  width: 280px;
  z-index: 3;
}
/* .dashSidebar:hover ~ .content {
  transform: translateX(200px);
  transition: all 0.5s ease;
}
.dashSidebar:not(:hover) ~ .content {
  transform: translateX(0px);
  transition: all 0.5s ease;
} */

/* --- Dashboard sidebar */

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (max-width: 550px) {
  .sidebar {
    width: 120px;
  }

  .content {
    margin-left: 121px;
  }

  .postCard {
    width: 12rem;
    height: 12rem;
  }

  .commentsCard {
    width: 12rem;
  }

  .pcEditor {
    flex-direction: column;
  }
}

@media all and (max-width: 440px) {
  .myButton svg {
    height: 1.5em;
  }
}

@media all and (max-width: 364px) {
  .postCard {
    width: 8rem;
    height: 18rem;
  }
  .commentsCard {
    width: 8rem;
  }
}

@media all and (max-width: 293px) {
  .postCard,
  .commentsCard {
    width: 7em;
  }
}
